/*
 * Overrides CSS
 */


/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-bold-webfont.ttf') format('truetype');
    font-weight: bold;

}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('/templates/089-standard/fonts/montserrat-regularitalic-webfont.ttf') format('truetype');
    font-style: italic;

}
/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #000080; 
  --second-color: #395389;
  --alt-color: #395389;
}
.first-color {
	color: var(--first-color);
}
.second-color {
	color: var(--second-color);
}
.alt-color {
    color: var(--alt-color);
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

body.deskTab .flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
body.deskTab .space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body#body {
    font-family: 'montserratregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }
body .item-page p {
    font-size: 16px;
}
.clr {
    clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.bold {
    font-weight: bold;
}
.bckgr-color {
	background: #fafafa;
}
h1, h2, h3, h4, p, ul li {
    letter-spacing: 0.1em;
    line-height: 1.4em;
    font-weight: normal;
}
.null1-14 {
    letter-spacing: 0.1em;
    line-height: 1.4em;
}
.null1-15 {
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.null1-18 {
    letter-spacing: 0.1em;
    line-height: 1.8em;
}
body#body .attent-getter {
    font-size: 20px;
}

/*content*/
.item-page.start {
    text-align: center;
}
body.desktop.start div.start-header-container h2:first-of-type,
body.desktop .backgr-banner {
    font-size: 36px;
}
a.backgr-banner {
    background: var(--first-color);
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
}
.start-header-container {
    position: relative;
}
.start-header-container img {
    position: absolute;
    left: 130px;
    height: 160px;
    top: 40px;
}
body.desktop .content-header {
    font-size: 40px;
    margin-bottom: 60px;
}

/*modal-start*/
body.modalClicked .custom.modal-start {
    display: none;
}
.custom.modal-start {
    position: fixed;
    top: 25vh;
    right: 10px;
    box-shadow: -1px 24px 50px -25px #6b6b6b;
    z-index: 2;
}
.modal-start--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
}
body.deskTab .custom.modal-start {
    width: 396px;
}
.modal-start--container {
    position: relative;
}
.modal-start--container,
.modal-start--container__text {
}
.modal-start--container__text {
    background: #fff;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
}
.modal-start--container__img img {
    transform: scale(1.1) translateX(85px);
}
div#closeModal {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #777;    
    font-size: 32px;
    cursor: pointer;
    width: 20px;
}
.modal-start--container__text h2 {
    font-size: 23px;
    line-height: 25px;
}
.modal-start--container__text p,
.modal-start--container__text h2 {
    text-align: center;
}
.modal-start--container__text h2,
.modal-start--container__text a {
    color: #ad78bc;
}
.modal-start--container__text h2,
.modal-start--container__text a,
.modal-start--container__text p {
    padding: 0px 10px;
}
.modal-start--container__text a {
    font-size: 21px;
    line-height: 25px;
}
.modal-start--container__text p {
    margin: 12px 0px;
}
/*<--- END modal-start*/

.header--img--container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.header--img--container img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px -30px;
       object-position: 0px -30px;
    width: 100%;
    height: 100%;
}
body.start .above-the-fold:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
}
body#body.desktop.start .above-the-fold {
    background: url('/images/schluesseldienst-muenchen-pichelmaier-bckgr-image-L.jpg') fixed no-repeat;
}
body.start .above-the-fold {
    background: url('/images/schluesseldienst-muenchen-pichelmaier-bckgr-image-L.jpg') top left no-repeat;
    background-size: cover;
    position: relative;
}
body.start .above-the-fold {
    height: 100vh;
}

.navbar-wrapper .vcard .tel {
    padding-top: 15px;
}
.navbar-wrapper .vcard a {
    color: #fff;
}
.navbar-wrapper .vcard p {
    color: #fff;
    line-height: 0.7em;
}
p.photo {
    float: left;
    padding: 0px 20px 20px 0px;
}
.navbar {
    clear: both;
}
.navbar-wrapper .vcard .adr,
.navbar-wrapper .vcard .postal-code,
.navbar-wrapper .vcard .region,
.navbar-wrapper .vcard .org span {
    display: none;
}
a.brand img {
    height: 80px;
}
.header--img--container {
    position: relative;
    z-index: 0;
    max-height: 250px;
    overflow: hidden;    
}
.header--content {
    position: absolute;
    top: 30%;
    left: calc((100% - 1180px) / 2); /*innerwidth 1180px ?*/
}
body.start .content {
    position: relative;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;    
}
/*body.desktop .item-page.start h1 {
    font-size: 48px;
}*/
.item-page.start h1 {
    color: #fff;
    font-size: 48px;
}
.item-page.start h2 {
    font-size: 29px;
}
body.site .page-header {
    border-bottom: none;
}
.logo--small,
nav.navbar-wrapper .vcard {
    padding: 20px;
}
body.deskTab nav.navbar-wrapper .vcard {
    padding: 20px 20px 5px 50px;
}
.breadcrumb {
    background: transparent;
    padding: 8px 0px;
    font-size: 11px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    font-size: 28px;
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
body.deskTab .schluesselnotdienst .flex.space-between,
body.deskTab.beratung .flex.space-between,
body.deskTab.briefkastenanlagen .flex.space-between,
body.deskTab.beschilderungen .flex.space-between:not(.prod-list),
body.deskTab.tresore .flex.space-between,
body.deskTab.rauchwarnmelder .flex.space-between,
body.deskTab.stempel .flex.space-between,
body.deskTab.medien .flex.space-between {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
body.deskTab.briefkastenanlagen .flex.space-between {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.prod-horizontal .content-flex--item h2 {
    margin-top: 0px;
}
.prod-vertical .content-flex--item h2,
.content-flex--item h2 {
    font-size: 18px;
}
.prod-vertical .content-flex--item h2 {
    margin: 40px 0px 30px;
}
div[class*="content-flex--item"] {
    flex-basis: 50%;
}
.content-flex-row {
    margin-bottom: 100px;
}
.briefkastenanlagen .content-flex-row,
.stempel .content-flex-row {
    margin-bottom: 60px;
}
.content-flex--item p,
.prod-horizontal .content-flex--item h2 {
    padding-right: 40px;
}
.content-flex-container {
    margin: 50px 0px;
}
.produkte-content .content-flex--item img {
    max-height: 244px;
    max-width: 400px;
}
.produkte-content .content-flex--item {
    text-align: center;
}
.item-page .article-body>h2 {
    font-size: 24px;
}
.item-page.stempel .article-body>h3 {
    margin: 30px 0px;
}
.item-page:not(.stempel) .article-body>h3 {
    font-size: 18px;
}
body.desktop .content-flex--item img {
    opacity: 1;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body.desktop .content-flex--item a img:hover {
    opacity: 0.7;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
body.deskTab .produkte-content .content-flex-row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.content-flex--item__img img {
    width: 100%;
}
body.desktop .team-row__item {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    position: relative;
}
.team-row__item figcaption {
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
body.deskTab .team-row {
    margin-bottom: 60px;
}
body.deskTab .team-row:last-child .team-row__item {
    margin-right: 15px;
}
.laden-detail .twoColumn--container__text {
    padding: 10px 30px 10px 0px;
}
.laden-detail {
    margin: 30px 0px 60px;
}
.referenzen .prod-list ul li {
    font-size: 14px;
}

/*<--- END content*/

 /*Menue!*/
 body#body.desktop .navbar-wrapper .navbar .nav>li.active>a:after {
     -webkit-animation: menuHover 0.1s ease-in-out forwards;
            animation: menuHover 0.1s ease-in-out forwards;   
 }
 body#body.desktop .navbar-wrapper .navbar .nav>li>a:hover:after {
    -webkit-animation: menuHover 0.4s ease-in-out forwards;
            animation: menuHover 0.4s ease-in-out forwards;
 }
 body#body.desktop .navbar .nav>li>a:after {
    content: '';
    position: absolute;
    left: 0;
    height: 32px;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,1);
    z-index: -1;
    -webkit-transform: translate(101%, 100%);
        -ms-transform: translate(101%, 100%);
            transform: translate(101%, 100%);
}
    @-webkit-keyframes menuHover {
        0% {-webkit-transform: translate(101%, 95%);transform: translate(101%, 95%);}
        70% {-webkit-transform: translate(0%, 95%);transform: translate(0%, 95%);}
        100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
    }
    @keyframes menuHover {
        0% {-webkit-transform: translate(101%, 95%);transform: translate(101%, 95%);}
        70% {-webkit-transform: translate(0%, 95%);transform: translate(0%, 95%);}
        100% {-webkit-transform: translate(0%, 0%);transform: translate(0%, 0%);}
    }

body#body.desktop .navbar-wrapper .navbar .nav>li>a {
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
}
body#body.desktop .navbar ul li {
    letter-spacing: initial;
}
body#body.desktop .navbar .nav>li>a {
    position: relative;
    overflow: hidden;
    border-radius: 2px;
 }
body#body.desktop .navbar .nav>li>a:focus,
body#body.desktop .navbar .nav>li>a:hover {
    color: var(--second-color);
/*    background: url(/images/headers/schluesseldienst-muenchen-pichelmaier-schluesselnotdienst-header.jpg) right bottom no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
}
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;    
}
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret {
    border-top-color: var(--second-color);
    border-bottom-color: var(--second-color);
}
body.desktop nav.navbar-wrapper {
    position: fixed;
    opacity: 1;
    box-shadow: 0px 2px 40px -15px rgba(74,74,74,0);
    transform: translateY(0px);
    animation: fadein 1s ease forwards;
    transition: all 0.5s ease;
    z-index: 2;
}
body.desktop nav.navbar-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13, 45, 111, 0);
    z-index: -1;
    transition: background 0.8s ease, transform .5s ease-in-out 0.8s;
}
body.desktop nav.navbar-wrapper.sticky:after {
    background: rgba(13, 45, 111, 0.8);
    transition: background 0.5s ease .3s, transform 0.6s ease-in-out 0.6s;
}
body.desktop nav.navbar-wrapper.sticky {
    box-shadow: 0px 2px 40px -15px rgba(74,74,74,1);
    height: 100px;
    opacity: 0;
    transition: box-shadow 0.3s ease-in-out 0.5s;
    -webkit-animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
            animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
}
body.desktop nav.navbar-wrapper .vcard,
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    transition: transform .3s ease-in-out;
}
body.desktop nav.navbar-wrapper.sticky .vcard,
body.desktop nav.navbar-wrapper.sticky .navbar {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    transition: transform .3s ease-in-out 0.5s;            
}
    @-webkit-keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }


body:not(.phone) nav.navbar-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body:not(.phone) nav.navbar-wrapper>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body#body .navbar .nav>li:not(.active)>a {
    color: #fff;
}
body#body .navbar .nav>li>a {
    text-shadow: none;
    font-size: 16px;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--first-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
}
body#body.desktop .navbar .nav>.active>a,
body#body.desktop .navbar .nav>.active>a:hover,
body#body.desktop .navbar .nav>.active>a:focus {
    position: relative;
    -webkit-box-shadow: inset 20px 0px 20px rgba(130,53,139, 0);
            box-shadow: inset 20px 0px 20px rgba(130,53,139, 0);
    -webkit-transition: -webkit-box-shadow 0.2s linear;
    transition: -webkit-box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear;
    transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
body#body.desktop .navbar-wrapper.sticky .navbar .nav>.active>a {
    color: #fff;
    background: #5573b0;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: var(--second-color);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--second-color);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/* non-critical CSS */
.faq .nav-kachel--text h2:after,
.prod-horizontal .content-flex--item h2:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 70px;
    background: var(--alt-color);
}
.beschilderungen .prod-horizontal .content-flex--item h2:after {
    content: initial;
}
.briefkastenanlagen .prod-horizontal .content-flex--item h2,
.stempel .prod-horizontal .content-flex--item h2,
.medien .prod-horizontal .content-flex--item h2 {
    min-height: 40px;
}
.prod-horizontal .content-flex--item h2,
.faq .nav-kachel--text h2 {
    position: relative;
    min-height: 70px;
    margin-bottom: 15px;
}
.beschilderungen .prod-horizontal .content-flex--item h2 {
    position: initial;
    min-height: initial;
}
.faq .nav-kachel--text h2 {
    padding-bottom: 10px;    
}
body.deskTab .faq .nav-kachel--text {
    padding: 30px;
}
.faq .nav-kachel--text {
    padding: 20px;
}
body.deskTab .faq .nav-kachel--item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
}
body.desktop .service-start .nav-kachel--item {
    box-shadow: 0px 20px 40px -10px rgba(51,51,51,0);
    transition: box-shadow 0.3s ease-in-out;
}
body.desktop .service-start .nav-kachel--item:hover {
    box-shadow: 0px 20px 40px -10px rgba(51,51,51, 1);
}
body.deskTab .nav-kachel--row {
    margin-bottom: 30px;
}
body.desktop .service-start .nav-kachel--item {
    -ms-flex-preferred-size: 320px;
        flex-basis: 320px;
}
.service-start .nav-kachel--item {
    text-align: center;
}
.service-start .nav-kachel--text h2,
.faq .nav-kachel--text h2 {
    font-size: 22px;
    margin-top: 0px;
}
.service-start .nav-kachel--text {
    background: #fff;
    padding: 30px 0px;
}
.service-start .nav-kachel--item a:hover {
    text-decoration: none;
}
.service-start .nav-kachel--item a {
    display: block;
    color: #333;
}
body.desktop .custom.service-start {
    background: url(/images/schluesseldienst-pichelmaier-nav-bckgr.jpg) fixed no-repeat;
    background-size: cover;
}
.custom.service-start {
    background: url(/images/schluesseldienst-pichelmaier-nav-bckgr.jpg) top left no-repeat;
    background-size: cover;
    padding: 50px 0px;
}
body.deskTab .bottom-slogan h2 {
    font-size: 25px;
    margin: 0px;
}
.bottom-slogan h2 {
    padding: 50px 0px;
    font-style: italic;
}
.position_bottom2 .fachgeschaeft,
.position_bottom2 .faq,
.position_bottom2 .service-start {
    margin-bottom: 60px;
}
.twoColumn--container__text p {
    font-size: 16px;
    line-height: 1.4em;
}
.twoColumn--container__text {
    padding: 10px 0px 10px 30px;
}
body.desktop .twoColumn--container__image img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
}
body.deskTab .twoColumn--container__text h2 {
    font-size: 26px;
}
body.deskTab .twoColumn--container__text h3 {
    font-size: 22px;
}
.content-bottom--flex-item p {
    font-size: 16px;
}
.content-bottom--flex-item h2 {
    font-size: 22px;
}
.module_bottom .notoeffnung {
    text-align: center;
}
body.deskTab .content-bottom--flex-item {
    -ms-flex-preferred-size: 325px;
        flex-basis: 325px;
}
.top-bellow-content h2 {
    font-size: 28px;
    margin: 50px 0px;
}
.top {
    margin: 30px 0px;
}
.module_bottom {
    margin: 50px 0px;
}
.innerwidth.content-bottom--wrapper {
    padding: 50px 0px;
}
.content-bottom.flex {
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
}
.footer-top {
    text-align: center;
    margin: 60px 0px;
}
.logo--small__footer {
    margin: 30px 0px;
}
footer .copy-paragraph {
    font-size: 10px;
    margin: 30px 0px;
}
.copyWrapper {
    padding: 10px 0px 0px 0px;
}
body.kontakt i.fa.fa-share {
    display: none;
}
body.kontakt button.ap-btn {
    background: var(--alt-color);
    background-image: none;
    border: 1px solid var(--alt-color);
    text-shadow: none;
    color: #fff;
    box-shadow: 0px 10px 30px -13px rgba(0, 0, 128, 0.5);
    transition: all 0.3s ease-in-out;
}
body.kontakt button.ap-btn:hover {
    color: var(--first-color);
    background: #fff;
}
.keinbruch {
    text-align: center;
    padding: 50px 0px;
}
.keinbruch {
    text-align: center;
}
.keinbruch h2 {
    font-size: 20px;
}
body.deskTab .keinbruch img {
    width: 60%;
}
.prod-list ul li {
    line-height: 2em;
    font-size: 16px;
}
.prod-list ul {
    padding: 20px 0px;
}


/*body.desktop .item-page.impressum,
body.desktop .item-page.datenschutz {
    margin-top: 140px;
}*/
footer .footer--bottom,
footer .footer--bottom a {
    color: #fff;
}
.footer--bottom {
    background: var(--alt-color);
    padding: 50px 0px 50px;
}
.footer-nav--container {
    margin: 50px 0px 80px;
}
.footer-nav--item h4 {
    font-size: 14px;
    margin-bottom: 30px;
}
.footer-nav--item nav a {
    display: block;
    padding: 2px 0px;
    font-size: 12px;
}
.custom.footer-nav h3 {
    font-size: 18px;
}
footer .vcard p,
footer .vcard a {
    margin-bottom: 5px;
    color: var(--alt-color);
}
footer .vcard {
    margin-bottom: 30px;
}
footer a.brand img {
    height: 90px;
}
body.deskTab .footer-top>h2 {
    font-size: 30px;
}
.footer-top>h2 {
    font-size: 21px;
}
body#body.desktop li:not(.item-112).parent,
body#body.desktop li:not(.item-112).parent>a,
body.desktop.team .breadcrumb li:nth-child(3) .pathway,
body.desktop.laden .breadcrumb li:nth-child(3) .pathway {
    cursor: text;
}

body.Firefox .scroll-top-wrapper {
    font-weight: bold;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 4;
    background-color: #5573b0;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    right: 5%;
    bottom: 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid #5573b0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 30px;
}
body.desktop .scroll-top-wrapper:hover {
    color: var(--first-color);
    background-color: transparent;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.8;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}
